body{
	background:rgb(244, 244, 244) url('/media/img/light_toast.png');
}
.main-content{
	margin-top: 60px;;
}
article{
	box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	border-radius: 1px;
	margin:10px;
	background-color: white;
}

article h1{
	font-family: 'Amaranth','Domine',verdana,sans-serif;
	font-size: 35px;
}

article h2 {
	font-family: 'Domine',verdana,sans-serif;
	font-size:21px;
}

article p {
	font-family: 'Muli', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 29px;
}

.articles h3{
	font-family: 'Amaranth','Domine',verdana,sans-serif;
	font-size: 28px;
	padding: 10px 10px 10px 20px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
	line-height: 35px;
}

.articles h3:first-letter {
	text-transform: uppercase;
}
